* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}

body {
    background-repeat: no-repeat;
}

#quoteDiv {
    width: 1100px;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#quote, #author {
    color: rgba(255, 255, 255, 1);
    filter: contrast(150%)!important;
    filter: brightness(200%)!important;
    filter: blur(0);
    opacity: 1;
}

#quote {
    font-family: 'Balsamiq Sans', cursive;
}

#quoteDiv h2,
span {
    margin: 2rem;
}

#author {
    bottom: 0;
    font-size: 1.1rem;
    font-weight: 500;
}

#author::before {
    content: '- ';
}

#author::after {
    content: ' -';
}

#quoteDiv button {
    font-weight: 500;
    font-size: 1.1rem;
    position: absolute;
    left: 44.66725%;
    margin-top: 2.5rem;
    border-radius: 25px;
    border: 0;
    opacity: 0.6;
    padding: 0.5rem;
    outline: none;
    background-color: rgb(160, 160, 160);
}

#quoteDiv button:hover {
    opacity: 1;
    filter: contrast(150%);
    background-color: white;
    transition-property: background-color;
    transition-property: filter;
    transition-property: opacity;
    transition-duration: 0.8s;
}

#quoteHR {
    border: 0.25rem solid white;
    border-radius: 25px;
}