* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}

#quoteDiv {
    width: 700px;
    height: 350px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    margin: auto;
}

#quote {
    font-family: 'Sriracha', cursive;
}

#quoteDiv h3,
span {
    margin: 2rem;
}

#author {
    margin-right: 2rem;
    float: right;
}

#quoteDiv button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}